body {
    color: #14a9b5;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

b, strong, th, h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI semibold", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic", "Segoe UI", Verdana, Meiryo, sans-serif;
}

a {
    color: #1C2541;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0 0 0.3rem;
    border-bottom: 2px dashed #27BBC8;
}

h2,
h3 {
    margin: 0;
}

.row {
    display: flex;
}

@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}

.col {
    flex: 1;
    border: 5px solid #27bbc8;
    margin: 1rem;
    padding: 0.6rem;
    line-height: 1.4;
}

.col .col {
    margin: 0.25em;
    border-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
}


hr {
    border: 1px solid;
}

table {
    margin-top: 0.3rem;
}

/* 見出し */
header {
    position: relative;
    margin: -0.6rem -0.6rem 0.6rem;
}
header h2 {
    position: absolute;
    color: #fff;
    padding: 0.3rem 1rem;
    margin: 0.6rem -0.6rem 0;
}
h2 {
    color: #fff;
    background-color: #27bbc8;
    margin: calc(-0.6rem + -5px) -0.6rem 0.6rem;
    padding: 0.1rem 0.3rem;
}
.yumemi h3, .yumemip h3{
    color: #fff;
    padding: 0.3rem 0.6rem;
    margin: 1rem -0.6rem 0;
}

/* 色設定: Yumemi #8BDCDD */
.yumemi,
.yumemi .cards>li>a {
    color: #206D6F;
}
.yumemi a {
    color: #091F20;
}
.yumemi b, .yumemi strong, .yumemi th {
    color: #298B8E;
}
.yumemi h2, .yumemi h3{
    background-color: #41C3C8;
}
.yumemi,
.yumemi hr {
    border-color: #8BDCDD;
}
.yumemi .cards>li>a::before {
    background-color: #41C3C8;
}

/* 色設定: P #F3799D */
.yumemip,
.yumemip .cards>li>a {
    color: #BC1044;
}
.yumemip a {
    color: #26030E;
}
.yumemip b, .yumemip strong, .yumemip th {
    color: #E11451;
}
.yumemip h2, .yumemip h3{
    background-color: #F05684;
}
.yumemip,
.yumemip hr {
    border-color: #F3799D;
}
.yumemip .cards>li>a::before {
    background-color: #F05684;
}


blockquote.twitter-tweet {
    text-align: center;
}

blockquote.twitter-tweet::before {
    content: "Loading Tweet...";
}

.twitter-tweet {
    width: 100% !important;
    margin: auto;
}

.twitter-tweet iframe {
    width: 100% !important;
}


.cards {
    padding-left: 0;
}
.cards>li {
    margin: 0.6rem 0;
    padding: 0.6rem;
    padding-left: 3rem;
    display: block;
    position: relative;
}
.cards>li>a::before {
    background-color: #3AC4C4;
    height: 100%;
    width: 2.5em;
    background-size: 1.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0.3rem;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/logo_unknown.svg");
}

.cards>li>a[href*="youtu"]::before {
    background-image: url("../img/logo_youtube.png");
}

.cards>li>a[href*="twitter"]::before {
    background-image: url("../img/logo_twitter.svg");
}

.cards>li>a[href*="infinite_chain"]::before {
    background-image: url("../img/logo_cut.svg");
}

#goto_top {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 8rem;
    transition: opacity 1s ease-in-out;
}

#goto_top:not(.show) {
    opacity: 0;
}

#goto_top .anime_rotate {
    animation: rotate 2.1s ease-in-out infinite alternate;
}

#goto_top .anime_transX {
    animation: transX 1s ease-in-out infinite alternate;
}

#goto_top .anime_transY {
    animation: transY 1.3s ease-in-out infinite alternate;
}

#goto_top img {
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    backface-visibility: hidden;
    user-select: none;
}

#goto_top.fly {
    animation: fly 1s ease-in-out;
}

#goto_top.fly_egg {
    animation: fly_egg 1s ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(-25deg)
    }

    100% {
        transform: rotate(-35deg)
    }
}

@keyframes transY {
    0% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(-0.5rem);
    }
}

@keyframes transX {
    0% {
        transform: translateX(-1rem);
    }

    100% {
        transform: translateX(-1.5rem);
    }
}

@keyframes fly {
    0% {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) rotate(40deg);
        opacity: 0;
    }
}

@keyframes fly_egg {
    0% {
        transform: translateY(0) translateX(0) rotate(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) translateX(-100vh) rotate(40deg) scale(15);
        opacity: 0;
    }
}
